body,html {
    margin: 0;
    padding: 0;
    color: #222222;
}
* {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a:link, a:visited {
    text-decoration: none;
    color: #222222;
  }
  a:hover {
    font-weight: 900;
  }

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    width: 60%;
    background-color: #ffffff;
}

.right {
    right: 0;
    width: 40%;
    background-image: url(../images/homepage-img);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.container {
    position: relative;
    height: 100vh;
  }

  .container-recepie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(252, 252, 252, 0.3);;
    z-index: 1;
    padding: 50px;
  }

  .list-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }
